<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About - Weather App</title>
</head>
<body>
   <div class="main-content">
        {{>header}}
    <p>Simple weather application which gives forecast based on your location.</p>
    <img style="height: 15rem;" src="./assets/Hiking-Nepal-1280x640.jpg" alt="hikking nepal">
   </div>
    {{>footer}}
</body>
</html>