<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <title>Help - Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <p>Please read the documentation for detailed information.</p>
    </div>
    {{>footer}}
</body>
</html>